{% extends "account/base_entrance.html" %}

{% load allauth i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% element h1 %}{% trans "Sign Up" %}{% endelement %}
            <p>
                {% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% url 'account_signup' as action_url %}
            {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            {% endslot %}
            {% slot actions %}
            <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %}</button>
            {% endslot %}
            {% endelement %}
        </div>
    </div>
</div>
    
    
{% endblock content %}
