@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body {
    background-color: #faf9fc;
    color: #040404;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 150vh;
    overflow-x: hidden;
}

/* navbar */

  .navbar-nav a.nav-link:hover,
  .navbar-nav a.nav-link.active {
    color: #eb8e50;
  }
  

/* buttons */

.btn-primary.custom-btn {
    background-color: #35e4a8;
    border-color: #35e4a8;
    color: #fff;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: #2cb48a;
    border-color: #2cb48a;
}

.btn-outline-secondary.custom-btn-1 {
    color: #fff;
    border-color: transparent;
    border-width: 2px;
    background-color: transparent;
}

.custom-btn-1:hover,
.custom-btn-1:focus {
    background-color: #e58747;
    color: #fff;
}

/* navbar underline style */
.bottom-shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

/* hero section */
.carousel-caption {
    transform: translateY(50%);
}

.latest-heading {
    font-family: "YourChosenFont", sans-serif;
    color: #e58747;
    font-weight: 300;
}

.latest-heading span.highlight {
    color: #35e4a8;
}

.text-body-secondary {
    color: #ffffff !important;
}


.card-shadow 
{
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11),
  0 8px 8px rgba(0,0,0,0.11), 
  0 16px 16px rgba(0,0,0,0.11), 
  0 32px 32px rgba(255, 9, 9, 0.11)!important; 
 }

.payment-shadow {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}



/* fixed background image */
.parallax-container {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-bg {
    background: rgba(28, 28, 28, 0.446) url("./../images/top-view-finance-business-elements.jpg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

/* .layer1 {
    background-image: url('https://picsum.photos/1200/800');
}

.layer2 {
    background-image: url('https://picsum.photos/1200/800');
} */



/* contact page */
.contact-h1 {
  font-weight: bolder;
}
#contactInfo {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#contactInfo:hover {
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 10px #F59D10;

}

.container-contact-us {
  box-shadow: 0px -25px 20px -20px #F59D10, 
  25px 0 20px -20px rgb(249, 200, 6),
  0px 25px 20px -20px rgb(249, 200, 6), 
  -25px 0 20px -20px #F59D10 !important;
  width: 80%;
}


/* .sticky-footer */
.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* For screens with a width of 320 pixels or less */
@media screen and (max-width: 428px) {
    .carousel-caption.bottom-50 {
        position: absolute;
        background-color: #00000071;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
    }
}

.btn-primary.custom-btn {
    background-color: #e58747;
    border-color: #e58747;
    color: #fff;
}

.carousel-caption.bottom-50 h1.display-6 {
    font-size: 2rem;
}

.carousel-caption.bottom-50 p.lead {
    font-size: 1rem;
}

.carousel-caption.bottom-50 .btn-primary.custom-btn {
    font-size: 1rem;
}

/* Authentication pages */
.btn-signin {
    background-color: #35e4e8;
    color: #1c0c0c;
}

.btn-signup {
    background-color: #e58747;
    color: #1c0c0c;
}

.btn-logout {
    background-color: #a300ff;
    color: #fff;
}

.btn-signin:hover,
.btn-signin:active {
    background-color: #a300ff;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #35e4e8;
    color: #1c0c0c;
}

.btn-logout:hover,
.btn-logout:active {
    background-color: #35e4e8;
    color: #1c0c0c;
}

.link {
    color: #a300ff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #040404;
    text-decoration: underline;
}