{% load static %}

<nav class="navbar navbar-expand-lg pt-3 border-bottom bottom-shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">billBalancer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse gap-3" id="navbarNav" >
      {% if user.is_authenticated %}
      <span class="navbar-text"
        >Signed in as: {{ user.username | capfirst }}</span
      >
      <ul class="navbar-nav me-auto mb-lg-0">
        <li>
          <a class="nav-link" href="{% url 'new_event' %}">Create Event</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'index' %}">My events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li>
          <a
            class="btn btn-logout"
            href="{% url 'account_logout' %}"
            role="button"
            >Logout</a
          >
        </li>
      </ul>
      {% else %}
      <div class="d-grip gap-3">
        <a class="btn btn-signin" href="{% url 'account_login' %}" role="button"
          >Sign in</a
        >

        <a
          class="btn btn-signup"
          href="{% url 'account_signup' %}"
          role="button"
          >Sign up</a
        >
      </div>

      {% endif %}
    </div>
  </div>
</nav>
