{% load static %}
{% block main %}

<div class="">
  <div style="display: none" id="userList">
    {% for user in users %}
    <div class="user-name">{{ user.username }}</div>
    {% endfor %}
  </div>

  <form method="post">
    {% csrf_token %}

    <div class="form-group row align-items-center border-bottom text-center
      text-md-start">
      <div id="alertPlaceholder"></div>
      <label for="eventName" class="col-sm-12 col-md-6 col-form-label">What is
        your Event's Name:</label>
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control text-center" id="eventName"
          name="eventName" placeholder="Enter Event name" required />
      </div>
    </div>

    <!-- Member input fields -->
    <div class="form-group m-1" id="memberFieldsContainer">
      <label for="eventName" class="col-form-label">You are
        with:</label>
      <!-- Existing member fields will be appended here dynamically -->
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-secondary" id="addMemberButton">Add
        Member</button>
    </div>


  </form>

</div>

{% endblock %} {% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var eventNameInput = document.getElementById('eventName');
    var userNames = Array.from(document.getElementById('userList').children)
      .map((div) => div.textContent.trim());
    var memberFieldsContainer = document.getElementById(
      'memberFieldsContainer');
    var alertPlaceholder = document.getElementById('alertPlaceholder');
    var addMemberButton = document.getElementById('addMemberButton');

    function showAlert(message) {
      alertPlaceholder.innerHTML = '';
      var alert = document.createElement('div');
      alert.className =
        'alert alert-danger alert-dismissible fade show text-center';
      alert.role = 'alert';
      alert.innerHTML = message +
        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
      alertPlaceholder.appendChild(alert);
    }

    function createMemberField(index) {
      var memberField = document.createElement('div');
      memberField.className = 'form-group row align-items-start';
      memberField.innerHTML = `
    <div class="col-12 d-flex align-items-center text-center ">
      <input type="text" class="form-control member" id="member${index}"
        name="member${index}" placeholder="Enter member name">
      <button type="button"
        class="btn btn-secondary ml-2 remove-member" style="display:
        none;>Remove</button>
    </div>
    `;
      return memberField;
    }

    function clearInputFields() {
      eventNameInput.value = '';
      memberFieldsContainer.innerHTML = '';
    }

    function inputCheck(inputField, inputValue) {
      var closestMatch = userNames.find((name) => name.toLowerCase()
        .includes(inputValue));
      if (closestMatch) {
        inputField.value = closestMatch;
      } else {
        showAlert("Oops! Sorry " + inputValue +
          " wasn't found in the database");
        inputField.value = '';
      }
    }

    memberFieldsContainer.addEventListener('click', function (event) {
      if (event.target.classList.contains('remove-member')) {
        var memberField = event.target.closest('.form-group');
        var memberName = memberField.querySelector('.member').value
          .trim();

        // Display a confirmation prompt
        var confirmRemove = window.confirm(
          'Are you sure you want to remove ' +
          memberName + '?');

        if (confirmRemove) {
          memberField.remove();
          // Enable the "Add Member" button when a member is removed
          addMemberButton.removeAttribute('disabled');
        }
      }
    });

    addMemberButton.addEventListener('click', function () {
      var currentMembers = memberFieldsContainer.children.length;
      if (currentMembers < 11) {
        var newIndex = currentMembers + 1;
        var newMemberField = createMemberField(newIndex);
        memberFieldsContainer.appendChild(newMemberField);

        // Show the remove button for the newly added member
        var newRemoveButton = newMemberField.querySelector(
          '.remove-member');
        newRemoveButton.style.display = 'inline-block';

        // Disable the "Add Member" button when the limit is reached
        if (currentMembers + 1 === 11) {
          addMemberButton.setAttribute('disabled', 'true');
          showAlert('Cannot add more than 10 members.');
        }
      } else {
        showAlert('Cannot add more than 10 members.');
      }
    });

    document.getElementById('createEventButton').addEventListener('click',
      function (event) {
        var memberFields =
          document.querySelectorAll(
            '.form-group.row.align-items-start .member');
        var hasMembers = Array.from(memberFields).some(function (
          inputField) {
          return inputField.value.trim() !== '';
        });

        if (eventNameInput.value.trim() === '') {
          showAlert('Please enter an event name.');
          event.preventDefault();
          console.log('Event not created!');
        } else if (!hasMembers) {
          showAlert('Please add at least one member.');
          event.preventDefault();
          console.log('Event not created!');
        } else {
          console.log('Event Created');
        }
      });


    memberFieldsContainer.addEventListener('keydown', function (event) {
      if (event.key === 'Enter' && event.target.classList.contains(
          'member')) {
        event.preventDefault();
        inputCheck(event.target, event.target.value.trim()
          .toLowerCase());
      }
    });

  });
</script>
{% endblock %}